*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.adddetails,label{
    display: block;
    padding: 20px 20px 0px 20px;
}

.adddata{
    /* background-color: green; */
    background-image: url('../AddUser/images/add.jpeg');
    color:green;
    height: 100vh;
}

.adddetails button{
    margin-top: 10px;
}

.adddetails{
    margin-left: 700px;
    margin-top: 100px;
}

